.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(72,52,92);
    color: white;
    display: flex;
  }
.title p1 {
  float: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
  }
.social-media p1 {
  width: 100%;
  float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.address p1 {
  width: 100%;
  float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}